#main{
    top: 0;
    overflow: hidden;
}
.error{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.error404{
    background-color: #000;
}
.error404 img,
.error403 img,
.error500 img{
    width: 600px;
    height: 604px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -360px;
    margin-left: -302px;
}
.error403{
    background-color: #FE5500;
    text-align: center;
}
.error403 img{
    /*width: 400px;
    height: 300px;
    margin-top: -200px;
    margin-left: -200px;*/
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-left: 0;
    position: static;
}
.error403 .msg{
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}
.error500{
    background-color: #fff;
}
.error500 img{
    width: 900px;
    height: 468px;
    margin-top: -260px;
    margin-left: -450px;
}