::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc !important;
}

html{
    height: 100%;
}
body{
    font: 12px/1.5 微软雅黑,"Helvetica Neue",Helvetica,"Hiragino Sans GB","Lato Regular",Tahoma,Arial,sans-serif;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    color: #333;
    height: 100%;
    background-color: #eee;
    letter-spacing: 0px;
}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul,li,dl,dt,dd {
    list-style-type: none;
}
input,textarea,select {
    font-family: inherit;
    letter-spacing: 1px;
}
a {
    color: #06a4f3;
    text-decoration: none;
    outline: 0;
}
a:visited {
    text-decoration: none;
    color: #2e9bd1;
}
a:hover,a:active {
    text-decoration: underline;
    color: #2e9bd1;
}
.clearfix{
    *zoom: 1;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
}
.form-control.warn{
    border-color: #F96767;
}
.required{
    color: #F71111;
    padding: 0 5px;
    vertical-align: middle;
}
#tipModal .modal-dialog{
    padding: 0 10px;
    width: 280px;
    margin: 0 auto;
}
#tipModal .modal-dialog .modal-content{
    padding: 15px;
}
#tipModal .modal-dialog .hint{
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}
#tipModal[data-type=success] .modal-dialog .hint{
    color: #118443;
}
#tipModal .modal-dialog .icon{
    width: 100%;
    background: url('/images/success.png') center 0 no-repeat transparent;
}
#tipModal[data-type=success] .modal-dialog .icon{
    background-size: 52px 51px;
    height: 51px;
}
#tipModal[data-type=error] .modal-dialog .hint{
    color: #D86875;
}
#tipModal[data-type=error] .modal-dialog .icon{
    background-image: url('/images/error.png');
    background-size: 52px 52px;
    height: 52px;
}
#tipModal[data-type=warn] .modal-dialog .hint{
    color: #FAA31D;
}
#tipModal[data-type=warn] .modal-dialog .icon{
    background-image: url('/images/warn.png');
    background-size: 52px 52px;
    height: 52px;
}
#tipModal[data-type=loading] .modal-dialog .hint{
    color: #666;
}
#tipModal[data-type=loading] .modal-dialog .icon{
    background-image: url('/images/loading.gif');
    height: 60px;
    width: 200px;
    background-size: contain;
    background-position: center center;
}
#prompt{
    position: absolute;
    left: 50%;
    /*width: 10px;*/
    min-width: 120px;
    margin-left: -5px;
}
#prompt .popover{
    background-color: #000;
    color: #fff;
    font-size: 12px;
}
#prompt .popover.top{
    margin-top: -6px;
}
#prompt .popover.top > .arrow:after{
    border-top-color: #000;
}
#prompt .popover.top > .arrow{
    display: none;
}
#prompt .popover-content{
    white-space: nowrap;
    overflow: hidden;
}
.popover-title{
    font-size: 12px;
}
.popover-content{
    font-size: 12px;
}
.overflow-name{
    max-width: 150px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
}
.overflow-line1{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.overflow-line2{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overflow-line5{
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.quickBar{
    position: fixed;
    padding: 10px;
    background-color: #fff;
    left: 0;
    bottom: -100%;
    width: 100%;
    z-index: 1050;
    -webkit-transition:all .5s;
}
.quickBar-header .icon{
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.quickBar-title{
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    margin-left: 5px;
}
.quickBar-body{
    padding: 20px 0;
    font-size: 14px;
}
.quickBar-footer .cancel{
    border-radius: 0;
    background-color: #d1cfcf;
}
.quickBar.up{
    bottom: 0;
}
.quickBarbg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    opacity: 0;
    -webkit-transition:all .5s;
}
.quickBarbg.in{
    opacity: .5;
}
/*底部tab*/
#footer.tbar{
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    text-align: center;
    color: #fff;
    margin: 0;
}

#footer.tbar a .dot:after{
    position: absolute;
    top: 4px;
    right: 50%;
    margin-right: -16px;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: red;
}

#footer.tbar a{
    text-decoration: none;
    color: #454a4a;
}

#footer.tbar a:hover{
    text-decoration: none;
}

#footer.tbar h3{
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
}

#footer.tbar .now h3{
    color: #fff;
    opacity: 1;
}

#footer.tbar i{
    margin-top: 5px;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

#footer.tbar i.home{
    background-image: url(/images/home.png);
}

#footer.tbar i.community{
    background-image: url(/images/community.png);
}

#footer.tbar i.message{
    background-image: url(/images/message.png);
}

#footer.tbar i.more{
    background-image: url(/images/more.png);
    background-size: 27px 18px;
    background-position: center 5px;
}
#footer.tbar .now i.home{
    background-image: url(/images/now-home.png);
}

#footer.tbar .now i.community{
    background-image: url(/images/now-community.png);
}

#footer.tbar .now i.message{
    background-image: url(/images/now-message.png);
}

#footer.tbar .now i.more{
    background-image: url(/images/now-more.png);
    background-size: 27px 18px;
    background-position: center 5px;
}
/*community顶部bar*/
#head.community{
    position: fixed;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    height: 55px;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
}
#head.community a{
    height: 30px;
    line-height: 30px;
    color: #f3a64a;
    border: 1px solid #f3a64a;
    text-align: center;
}
#head.community a:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#head.community a:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#head.community a.nolborder{
    border-left: none;
}
#head.community a.norborder{
    border-right: none;
}
#head.community a.now{
    background-color: #f3a64a;
    color: #fff;
}
/*Layout*/
/*#container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#header{
    height: 42px;
    line-height: 42px;
    background-color: #901124;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    -webkit-box-shadow: 0 2px 5px rgba(105, 104, 104, 0.5);
    box-shadow: 0 2px 5px rgba(105, 104, 104, 0.5);
}
#main{
    position: absolute;
    overflow: hidden;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
}*/