body.account{
	background-color: #e0e0e0;
}
#account{
	background-color: #e0e0e0;
	padding-bottom: 50px;
}
#account .option{
	margin-bottom: 20px;
	background-color: #fff;
}
#account .option>h3{
	font-size: 14px;
	font-weight: normal;
	padding: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #ededed;
}
#account .content{
	padding: 20px;
	position: relative;
}
#account .content .left {
	min-height: 70px;
}
#account .content .left h4{
	font-size: 14px;
	font-weight: normal;
}
#account .content .left p{
	font-size: 12px;
	margin-top: 1px;
}
#account .content .right{
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: center;
	background-image: url(/images/leftdaybac.png);
	background-repeat: no-repeat;
	background-size: 56px 71px;
	width: 56px;
	height: 71px;
	padding-top: 10px;
}
#account .content .right .unlimited{
	background-image: url(/images/unlimited.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	width: 100%;
	height: 30px;
	background-position: center;

}
#account .content .right h3{
	font-size: 16px;
	font-weight: normal;
}
#account .content .right p{
	font-size: 12px;
	color: #9b9b9b;
}
#account .option.nouse .detailtime{
	visibility:hidden;
}
#account .footer{
	width: 100%;
	color: #fff;
	position: fixed;
	height: 50px;
	line-height: 50px;
	background-color: #fca443;
	bottom: 0;
	text-align: center;
	font-size: 16px;
}
#account .footer:hover,
#account .footer:link,
#account .footer:visited{
	text-decoration: none;
	color: #fff;
}
#account .order .left{
	min-height: 50px;
}
#account .order .right{
	background: 0;
}
#account .order .right h2{
	font-size: 20px;
}
#account .order small{
	margin-left: 20px;
}
#account .order .date,
#account .order .code{
	font-size: 14px;
	color: #9B9B9B;
	margin-bottom: 10px;
}
#account .order .code{
	margin-top: 10px;
}
#account .order .left h4{
	margin-bottom: 5px;
}
#account .order .left p{
	margin: 3px 0;
}
#account .order .left  .value{
	display: inline-block;
	width: 50px;
}
#account .order .left .times{
	margin-left: 20px;
}