#basicInfo>h2{
	font-size: 24px;
	padding: 10px 20px;
	font-weight: bolder;
}
#basicInfo .inputOption{
	margin-top: 10px;
	padding: 0 20px;
}
#basicInfo .inputOption input{
	height: 35px;
	width: 100%;
	border: 1px solid #bebebe;
}
#basicInfo .inputOption .smallTitle{
	font-size: 12px;
	color: #58aae4;
}
#basicInfo .inputOption .phone{
	margin-top: 10px;
}
#basicInfo .inputOption .codenum{
	float: left;
	margin-top: 10px;
	width: 70%;
}
#basicInfo .inputOption .codebutton{
	float: right;
	margin-top: 10px;
	width: 25%;
	height: 35px;
	line-height: 35px;
	background-color: #4a4a4a;
	text-decoration: none;
	text-align: center;
}
#basicInfo .inputOption .codebutton:link,
#basicInfo .inputOption .codebutton:hover,
#basicInfo .inputOption .codebutton:visited{
	color: #fff;
	text-decoration: none;	
}
#basicInfo .inputOption .bigTitle{
	display: block;
	font-weight: bolder;
	font-size: 14px;
	margin-top: 60px;
}
#basicInfo .inputOption select{
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-radius: 0;
	padding-left: 10px;
	appearance:none;
	-webkit-appearance:none;
}
#basicInfo .inputOption select option{
}
#basicInfo .inputOption input{
	padding-left: 10px;
}
#basicInfo .inputOption .password{
	margin-top: 10px;
}
#basicInfo .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #d7d7d7;
}
#basicInfo .footer a,#basicInfo .footer .next{
	float: left;
	width: 50%;
	display: inline-block;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#basicInfo .footer .back{
	color: #000;
}
#basicInfo .footer .next{
	background-color: #fca442;
	color: #fff;
}
#basicInfo{
	padding-bottom: 100px;
}