#chooseEnvironment{
	padding-bottom: 120px;
	background-color: #fff;
}
#chooseEnvironment .pic{
	width: 100%;
	height: 280px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
@media screen and (max-width: 320px){
	#chooseEnvironment .pic{
		height: 220px;
	}
}
#chooseEnvironment .pic1{
	background-image: url(/images/banner/5.jpg);
}
#chooseEnvironment .underLine{
	width: 20px;
	height: 5px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 10px;
}
#chooseEnvironment h2{
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
}
#chooseEnvironment p{
	margin-top: 20px;
	font-size: 14px;
	padding: 0 30px;
	text-align: center;
	color: #b5b5b5;
}
#chooseEnvironment .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fff;
}
#chooseEnvironment .footer a{
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
#chooseEnvironment .footer .open{
	background-color: #fca443;
}
#chooseEnvironment .footer .private{
	background-color: #4a4a4a;
}
#chooseEnvironment .footer a:link,
#chooseEnvironment .footer a:hover,
#chooseEnvironment .footer a:visited{
	text-decoration: none;
	color: #fff;
}
#chooseEnvironment .table{
	margin-top: 50px;
	padding-top: 110px;
	background-image: url(/images/register-table.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 74px 86px;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
#chooseEnvironment .table img{
	width: 200px;
	height: 200px;
	margin-top: 40px;
}
#chooseEnvironment .table h3{
	margin-bottom: 20px;
	font-size: 20px;
}
#chooseEnvironment .table p{
	margin-top: 0;
	line-height: 25px;
}
#chooseEnvironment .table h4{
	margin-top: 30px;
	padding-bottom: 20px;
	font-size: 20px;
}
#chooseEnvironment .a_code{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #4A90E2!important;
	background-color: #fff;
	border-top: 1px solid #ececec;
}
#chooseEnvironment .code{
	text-align: center;
	padding: 10px 30px;
	background-color: #fff;
}
#chooseEnvironment .code input{
	border: 1px solid #979797;
	height: 40px;
	width: 100%;
	padding-left: 20px;
}
#chooseEnvironment .code .btn_verify{
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #4A4A4A;
	color: #fff;
	font-size: 16px;
}