#companyProfile{
	background-color: #ececec;
}
#companyProfile .top{
	width: 100%;
}
#companyProfile .background{
	position: relative;
	width: 100%;
	height: 185px;
	background-image: url(/images/background-default.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #4A90E2;
}
#companyProfile .background .update{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 20px;
	right: 20px;
	background-image: url(/images/update.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}
#companyProfile .wrapperPortrait{
	position: relative;
	background-color: #fff;
	padding-bottom: 10px;
}
#companyProfile .wrapperPortrait .messageWrapper{
	padding-top: 100px;
	text-align: center;
}
#companyProfile .wrapperPortrait .messageWrapper h3{
	font-size: 16px;
}
#companyProfile .wrapperPortrait .messageWrapper p{
	margin:10px auto;
	width: 100px;
	color: #9b9796;
	font-size: 12px;
}
#companyProfile .wrapperPortrait .portrait{
	position: absolute;
	width: 150px;
	height: 150px;
	top: -70px;
	left: 50%;
	box-shadow: 0 0px 0px 6px #fff;
	margin-left: -75px;
	background-color: #cbcbcb;
	background-image: url(/images/company-default.png);
	background-repeat: no-repeat;
	background-size: 150px;
	background-position: center;
}
#companyProfile .wrapperPortrait .message{
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	width: 95%;
	text-align: center;
	background-color: #fca442;
	font-size: 16px;
}
#companyProfile .wrapperPortrait .message:link,
#companyProfile .wrapperPortrait .message:hover,
#companyProfile .wrapperPortrait .message:visited{
	text-decoration: none;
	color: #fff;
}
#companyProfile .partOption{
	padding: 0 20px;
	background-color: #fff;
	margin: 10px 0;
}
#companyProfile .partOption.aboutMe{
	padding-bottom: 20px;
} 
#companyProfile .partOption h3{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}
#companyProfile .partOption .underLine{
	height: 2px;
	width:100%;
	background-color: #f7f7f7;
}
#companyProfile .partOption .desc{
	padding: 10px 10px;
	text-align: center;
	color: #9b9796;
}
#companyProfile .partOption .ulist{
	margin-top: 20px;
	text-align: center;
}
#companyProfile .partOption .ulist ul li{
	width: auto;
	margin-top: 6px;
}
#companyProfile .partOption .ulist ul li span{
	display: inline-block;
	background-color: #2f92de;
	border-radius: 10px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: #fff;
}
#companyProfile .partOption .urlWrapper li{
	padding: 5px;
}
#companyProfile .partOption .urlWrapper li h4{
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#companyProfile .partOption .urlWrapper li p{
	color: #8cc0ec;
}
#companyProfile .partOption .companyWrapper{
	position: relative;
	padding-left: 100px;
	height: 100px;
}
#companyProfile .partOption .companyWrapper img{
	position: absolute;
	left: -20px;
	width: 100px;
	height: 100px;
}
#companyProfile .partOption .companyWrapper h4{
	padding-top: 30px;
	font-size: 14px;
}
#companyProfile .partOption .companyWrapper p{
	font-size: 12px;
	color: #9b9796;
}
#companyProfile .postWrapper{
	position: relative;
	background-color: #fff;
	margin-bottom: 10px;
	border-bottom: 1px solid #ececec;
}
#companyProfile .postWrapper .header{
	position: relative;
	padding-left: 90px;
	padding-top: 20px;
	height: 90px;
}
#companyProfile .like:after{
	content: 'LIKE';
}
#companyProfile .liked:after{
	content: 'LIKED';
	color: #F5AD38;
}
#companyProfile .postWrapper .header p.time{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
}
#companyProfile .postWrapper .header p{
	color: #9b9796;
	font-size: 12px;
}
#companyProfile .postWrapper .header .title{
	margin-top: 5px;
}
#companyProfile .postWrapper .header>img{
	position: absolute;
	border-radius: 100%;
	left: 0;
	width: 75px;
	height: 75px;
	z-index: 1000;
}
#companyProfile .postWrapper .content{
	padding: 20px 0;
	font-size: 16px;
	padding-bottom: 10px;
}
#companyProfile .postWrapper .face{
	width: 100%;
}
#companyProfile .loading{
	height: 30px;
	width: 100%;
	background-image: url(/images/loading2.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-color: #fff;
}
#companyProfile .memberlist{
	min-height: 80px;
}
#companyProfile .memberlist li{
	float: left;
	margin:15px 5px 0px 5px;
	height: 60px;
}
#companyProfile .memberlist li img{
	height: 50px;
	width: 50px;
	border-radius: 100%;
}