#companyUpdateProfile{
	background-color: #ececec;
	padding-bottom: 80px;
}
#companyUpdateProfile .top{
	width: 100%;
}
#companyUpdateProfile .background{
	position: relative;
	width: 100%;
	height: 185px;
	background-color: #3091dd;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#companyUpdateProfile .background .addBackground{
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: 10px;
	right: 20px;
	background-image: url(/images/addBackground.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}
#companyUpdateProfile .wrapperPortrait{
	position: relative;
	background-color: #fff;
	height: 100px;
}
#companyUpdateProfile .wrapperPortrait .portrait{
	position: absolute;
	width: 150px;
	height: 150px;
	top: -70px;
	left: 50%;
	box-shadow: 0 0px 0px 6px #fff;
	margin-left: -75px;
	background-color: #cbcbcb;
	
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: center;
}
#companyUpdateProfile .inputSection{
	margin-top: 20px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 20px;
	padding-bottom: 10px;
	background-color: #fff;
}
#companyUpdateProfile .inputSection h3{
	font-size: 14px;
	border-bottom: 1px solid #cbcbcb;
	padding-bottom: 10px;
}
#companyUpdateProfile .inputSection input[type="text"],
#companyUpdateProfile .inputSection input[type="email"]{
	border: none;
	width: 100%;
	font-size: 14px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
}
#companyUpdateProfile .lastinput{
	border-bottom: none!important;
	padding-bottom: 0;
	margin-bottom: 0!important;
}
#companyUpdateProfile textarea{
	width: 100%;
	border: none;
	font-size: 14px;
	resize:none;
}
#companyUpdateProfile .birthdayWrapper{
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
}
#companyUpdateProfile .birthday{
	margin-left: 10px;
	margin-right: 20px;
}
#companyUpdateProfile .birthday::-webkit-inner-spin-button { visibility: hidden; }
#companyUpdateProfile .link{
	margin-bottom: 80px;
}
#companyUpdateProfile .link input{
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: left 3px;
}
#companyUpdateProfile .link input.wechatId{
	background-image: url(/images/wechat.png);
	background-size: 18px 15px;
}
#companyUpdateProfile .link input.facebook{
	background-image: url(/images/facebook.png);
	background-size: 10px 20px;
}
#companyUpdateProfile .link input.twitter{
	background-image: url(/images/twitter.png);
	background-size: 18px 15px;
}
#companyUpdateProfile .link input.linkIn{
	background-image: url(/images/linkIn.png);
	background-size: 17px;
}
#companyUpdateProfile .link input.instagram{
	background-image: url(/images/instagram.png);
	background-size: 17px;
}
#companyUpdateProfile .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fb9b41;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
#companyUpdateProfile label{
	color: #dad4d3;
	font-size: 14px;
}

#companyUpdateProfile input{
	border: none;
	font-size: 14px;

}
#companyUpdateProfile select{
	border: none;
	background: transparent;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
#companyUpdateProfile .sex{
	margin-left: 20px;
	margin-top: 10px;
}
#companyUpdateProfile .inputSection .serviceWrapper{
	padding-top: 10px;
	min-height: 50px;
}
#companyUpdateProfile .inputSection .serviceWrapper ul li{
	float: left;
	margin-right: 10px;
	background-color: #9b9b9b;
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}
#companyUpdateProfile .inputSection .serviceWrapper ul li span:first-child{
	margin-right: 10px;
	font-weight: 100;
}
#companyUpdateProfile .inputSection .serviceWrapper ul li .x{
	display: inline-block;
	border-left: 1px solid #b1b1b1;
	height: 30px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 100;
}
#companyUpdateProfile .servicelist{
	position: fixed;
	padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1000;
	background-color: #fff;
}
#companyUpdateProfile .servicelist .header{
	height: 60px;
	width: 100%;
	background-color: #e0e0e0;
	padding:0 20px;
}
#companyUpdateProfile .servicelist .outer{
	padding: 0;
}
#companyUpdateProfile .servicelist .outer>li{
	padding: 0 20px;
}
#companyUpdateProfile .servicelist .outer>li>p{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border-bottom: 1px solid #C7C7C7;
}
#companyUpdateProfile .servicelist .outer>li .inner>li{
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #000;
}
#companyUpdateProfile .addService {
	position: relative;
}

#companyUpdateProfile .addService .button{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	line-height: 16px;
	text-align: center;
	background-color: #fb9b41;
	color: #fff;
	font-size: 16px;
}
#companyUpdateProfile .servicelist .header{
	padding-top: 10px;
}
#companyUpdateProfile .servicelist .header>h2{
	font-size: 20px;
}
#companyUpdateProfile .servicelist .header .cancel,
#companyUpdateProfile .servicelist .header  .ok{
	float: right;
	margin-right: 10px;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
}
#companyUpdateProfile .servicelist .header .cancel{
	background-color: #9B9B9B;
}
#companyUpdateProfile .servicelist .header  .ok{
	background-color: #4A90E2;
}
#companyUpdateProfile .servicelist .outer>li>p{
	padding: 0 20px;
	background-image: url(/images/right.png);
	background-repeat: no-repeat;
	background-position: 95% center ;
	background-size: 6px 10px;
}
#companyUpdateProfile .servicelist .outer>li>p.open{
	background-image: url(/images/down.png);
	background-size: 10px 6px;
}
#companyUpdateProfile .servicelist .outer>li .inner{
	background-color: #4A4A4A;
	color: #fff;   
	padding: 0 20px;
}
#companyUpdateProfile .servicelist .outer>li .inner li{
	border-bottom: 1px solid #C7C7C7;
}
#companyUpdateProfile .servicelist .outer>li .inner li:last-child{
	border: 0;
}
#companyUpdateProfile .servicelist .outer>li .inner li{
	height: 50px;
	line-height: 50px;
	background-image: url(/images/addService.png);
	background-size: 20px;
	background-position: right center;
	background-repeat: no-repeat;
}
#companyUpdateProfile .servicelist .outer>li .inner li.selected{
	background-image: url(/images/reduceService.png);
}


