#faq{
	background-color: #ffffff;
	padding-bottom: 30px;
}
#faq .banner{
	padding-top: 30px;
	padding-left: 20px;
	background-color: #000000;
	color: #ffffff;
	min-height: 90px;
}
#faq .banner h2{
	font-size: 22px;
}
#faq .menu{
	background-color: #000000;
	padding-left: 20px;
}
#faq .menu a:hover{
	text-decoration: none;
}
#faq .menu li{
	height: 50px;
	color:#9c9a9b;
	font-size: 16px;
	padding:20px 10px 20px 25px;
}
#faq .menu .last{
	padding-bottom: 50px;
}
#faq .banner h2{
	width: 50%;
	float: left;
}
#faq .banner span{
	float: right;
	margin-right: 30px;
	font-size: 12px;
	padding-right: 40px;
	padding-top: 4px;
	background-image: url(/images/now-more.png);
	background-position: right 4px;
	background-repeat: no-repeat;
	background-size: 25px 16px;
}
#faq .main{
	padding:10px 0 0 15px;
	height: 100%;
}
#faq .main h1{
	font-size: 24px;
	font-weight: bold;
	margin:40px 0 40px 0;
}
#faq .main h2{
	font-size: 20px;
	color: #4b4b4b;
	margin:30px 0 30px 0;
}
#faq .main ul{
	margin-left: 10px;
	margin-right: 10px;
	color: #9a9a98;
}
#faq .main li{
	font-size: 12px;
	margin:16px 0 5px 10px;
	list-style: disc;
}
#faq .main .sec li{
	list-style: circle;
}
#faq .select{
	color: #ffffff!important;
	background-image: url(/images/right-white.png);
	background-repeat: no-repeat;
	background-position: 2px 24px;
	background-size: 10px 15px;
}
#faq ol{
	padding-left: 10px!important;
	padding-right: 10px;
}
#faq ol li{
	font-size: 12px;
	color:#9a9a98;
	margin:16px 0 5px 10px;
	list-style: decimal!important;
}
#faq p{
	font-size: 12px;
	color:#9a9a98;
	margin:30px 30px 5px 10px;
}
#faq #chooseEnvironment{
	padding-bottom: 0;
}
#faq #chooseEnvironment .hub{
	width: 100%;
	margin-top: 15px;
}
@media screen and (max-width: 320px){
	#faq #chooseEnvironment .pic{
		
	}
}
#faq #chooseEnvironment .underLine{
	width: 20px;
	height: 5px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
}
#faq #chooseEnvironment h2{
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
}
#faq .version{
	margin-top: 40px;
	line-height: 20px;
	height: 20px;
	padding-top: 15px;
	font-size: 16px;
	padding-left: 20px;
	color: #9a9a98;
}
#faq .version .num{
	float: right;
	padding-right: 20px;
}