#messagelist{
	background-color: #fff;
	padding-left: 90px;
	padding-bottom: 65px;
}
body.messagelist{
	background-color: #fff;
}
#messagelist .option{
	position: relative;
	width: 100%;
	height: 100px;
	padding-left: 10px;
	padding-top: 25px;
}
#messagelist .option a.link{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100px;
	top: 0;
	z-index: 100;
	left: -20px;
}
#messagelist .option h3{
	font-size: 16px;
	font-weight: normal;
	padding-right: 30px;
}
#messagelist .option .content{
	border-bottom: 1px solid #e8e8e8;
	padding-right: 20px;
	height: 65px;
}
#messagelist .option .content p{
	margin-top: 5px;
}
#messagelist .option img{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	position: absolute;
	left: -80px;
	top: 10px;
}
#messagelist .option .time{
	position: absolute;
	top: 20px;
	right: 20px;
}