
#messageshow{
	background-color: #fff;
}
body.messageshow{
	background-color: #fff;
}

#messageshow .header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	padding-left: 20px;
	z-index: 1000;
	padding-top: 25px;
	background-color: #eee;
}

#messageshow .header a.link{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100px;
	top: 0;
	z-index: 100;
}

#messageshow .header h3{
	font-size: 14px;
	font-weight: normal;
	padding-right: 30px;
}

#messageshow .header .content{
	height: 65px;
	padding-left: 100px;
}

#messageshow .header .content p{
	margin-top: 5px;
}

#messageshow .header img{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	position: absolute;
	left:20px;
	top: 10px;
}

#messageshow .header .time{
	position: absolute;
	top: 20px;
	right: 20px;
}

#messageshow .wrapper{
	padding-top: 120px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
	font-size: 16px;
}
#messageshow .wrapper .other{
	position: relative;
	margin-bottom: 20px;
}
#messageshow .wrapper .other .imgWrapper{
	position: absolute;
	left: 0px;
	top: 5px;
}
#messageshow .wrapper .other .imgWrapper img{
	width: 35px;
	height: 35px;
	border-radius: 100%;
}
#messageshow .wrapper .other .imgWrapper p{
	font-size: 12px;
}
#messageshow .wrapper .other .content{
	padding-left: 52px;
	position: relative;
	padding-right: 60px;
}
#messageshow .wrapper .other .content p,
#messageshow .wrapper .other .content a{
	display: inline-block;
	padding: 10px;
	background-color: #eee;
	border-radius: 5px;
}
#messageshow .wrapper .other .content .lefto{
	position: absolute;
	top: 10px;
	left:43px;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #eee;
    border-bottom: 5px solid transparent;
}


#messageshow .wrapper .my{
	position: relative;
	margin-bottom: 20px;
}
#messageshow .wrapper .my .imgWrapper{
	position: absolute;
	right: 0px;
	top: 5px;
}
#messageshow .wrapper .my .imgWrapper img{
	width: 35px;
	height: 35px;
	margin-left: 10px;
	border-radius: 100%;
}
#messageshow .wrapper .my .imgWrapper p{
	font-size: 12px;
	text-align: right;
}
#messageshow .wrapper .my .content{
	padding-right: 52px;
	position: relative;
	padding-left: 30px;
}
#messageshow .wrapper .my .content p{
	float: right;
	padding: 10px;
	background-color: #F5A623;
	border-radius: 5px;
	display: inline-block;
	color: #fff;
	margin-left: 30px;
}
#messageshow .wrapper .my .content .righto{
	position: absolute;
	top: 10px;
	right:43px;
	width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #f3a64a;
    border-bottom: 5px solid transparent;
}

#messageshow .footer{
	position: fixed;
	bottom: 0;
	background-color: #eee;
	width: 100%;
	padding: 8px;
	padding-right: 70px;
}
#messageshow .footer textarea{
	width: 100%;
	resize:none;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#messageshow .footer a{
	position: absolute;
	font-size: 18px;
	top: 5px;
	right: 20px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	line-height: 40px;
	color: #777;
	font-weight: bold!important;
}