#newpost textarea{
	width: 100%;
	border: none;
	font-size: 14px;
	resize:none;
	padding: 20px;
}
#newpost p{
	padding-left: 45px;
	background-image: url(/images/addBackground.png);
	height: 140px;
	width: 240px;
	background-repeat: no-repeat;
	background-size: 120px ;
	background-position: 5px top;
	margin-left: 20px;
	margin-top: 20px;
}
#newpost a{
	position: fixed;
	display: inline-block;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background-color: #f3a64a;
}
#newpost a:hover,
#newpost a:link,
#newpost a:visited{
	color: #fff;
	text-decoration: none;
}
#newpost .imgWrapper img{
	height: 140px;
	width: 200px;
	margin-left: 20px;
	margin-top: 20px;
}
#newpost .imgWrapper{
	position: relative;
	display: inline-block;
	z-index: 10;
}
#newpost .imgWrapper .x{
	background-image:url(/images/cancel.png);
	position:absolute;
	background-size: 40px 40px;
	top:0;
	right: -15px;
	z-index: 1000;
	width:40px;
	height:40px
}