.tbar{
    position: fixed;
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: rgba(0,0,0,0.86);
    z-index: 1000;
    text-align: center;
    color: #fff;
    margin: 0;
}
.tbar a .dot:after{
    position: absolute;
    top: 4px;
    right: 50%;
    margin-right: -16px;
    display: inline-block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: red;
}
.tbar a{
    text-decoration: none;
    color: #fff;
}
.tbar a:hover{
    text-decoration: none;
}
.tbar h3{
    opacity: 0.6;
    font-size: 12px;
}
.tbar .now h3{
    color: #3fffcb;
    opacity: 1;
}
.tbar i{
    margin-top: 5px;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-size: 27px 27px;
}
.tbar i.home{
	background-image: url(/images/home.png);
}
.tbar i.community{
	background-image: url(/images/community.png);
}
.tbar i.message{
	background-image: url(/images/message.png);
}
.tbar i.more{
	background-image: url(/images/more.png);
}