#orderDetail .title{
	width: 100%;
	height: 60px;
	background-color: #ececec;
	padding: 0 10px;
	line-height: 60px;
	font-size: 20px;
	font-weight: 700;
}

#orderDetail .content .month{
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #e8e8e8;
}
#orderDetail .content .month .memberType{
	font-weight: 200;
	font-size: 18px;
}
#orderDetail .content .month h2{
	font-size: 20px;
	font-weight: bold;
}
#orderDetail .content .month .price{
	position: absolute;
	right: 0;
	top: 35px;
}
#orderDetail .content .month .price h3{
	display: inline-block;
	font-size: 20px;
}
#orderDetail .content .day{
	position: relative;
	padding-top: 20px;
}
#orderDetail .content .day h2{
	font-size: 20px;
	font-weight: 700;
}
#orderDetail .content .day .date{
	font-size: 12px;
	color: #707d85;
	margin-top: 10px;
}
#orderDetail .content .day .price{
	position: absolute;
	right: 0;
	font-size: 20px;
	top: 30px;
}
#orderDetail .content{
	position: relative;
	padding: 0 20px;
}
#orderDetail .agree{
	position: absolute;
	left: 20px;
	bottom: 60px;
	line-height: 18px;
}
#orderDetail .agree p{
	display: inline-block;
	position: relative;
	top: -5px;
	left: 5px;
}
#orderDetail .agree .icon{
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #e1e1e1;
}
#orderDetail .agree .hasAgree{
	background-image: url(/images/nike.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#orderDetail .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fca443;
	color: #fff;
}
#orderDetail .footer:link,#orderDetail .footer:hover,#orderDetail .footer:visited{
	color: #fff;
	text-decoration: none;
}