#productlist{
	padding-bottom: 50px;
}
#productlist .title{
	font-size: 20px;
	background-color: #ececec;
	padding: 10px 20px;
	height: 80px;
	line-height: 30px;
}
#productlist .item{
	position: relative;
	padding: 20px 20px;
	padding-left: 50px;
	background-color: #ececec;
	border-bottom: 1px solid #ddd;
}
#productlist .item .choosenum{
	position: absolute;
	top: 20px;
	right: 20px;
}

#productlist .item .choosenum .wrapper .add{
	border-left: 1px solid #c9c9c9;
}
#productlist .item .choosenum .wrapper .value{
	display: inline-block;
	text-align: center;
	width: 30px;
}
#productlist .item .choosenum .wrapper .minus,
#productlist .item .choosenum .wrapper .add{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
}
#productlist .item .choosenum .wrapper{
	border: 1px solid #c9c9c9;
}
#productlist .item .choosenum .wrapper .minus{
	border-right: 1px solid #c9c9c9;
	font-size: 14px;
}
#productlist .item .choosenum p{
	text-align: center;
}
#productlist .item .circleWrapper{
	position: absolute;
	left: 20px;
	width: 20px;
	height: 20px;
	border: 1px solid #9b9b9b;
	border-radius: 100%;
}
#productlist .item .content .type{
	padding: 2px 4px;
	background-color: #d7d7d7;
}	
#productlist .item .content .icon,
#productlist .item .content .price{
	font-size: 20px;
}
#productlist .item .content p{
	color: #5a5e70;
}
#productlist .item .content .key{
	color: #000;
}
#productlist .item.selected{
	background-color: #fff;
}
#productlist .item.selected .circleWrapper{
	border: 1px solid #fca443;
}
#productlist .item.selected .circleWrapper>div{
	width: 18px;
	height: 18px;
	border-radius: 100%;
	border: 2px solid #fff;
	background-color: #fca443;
}
#productlist .item.selected .type{
	background-color: #fca443;
}
#productlist .item.selected .priceWrapper{
	color: #fca443;
}
#productlist .footer{
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: #fca443;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}