#profile{
	background-color: #ececec;
}
#profile .top{
	width: 100%;
}
#profile .background {
	position: relative;
	width: 100%;
	height: 185px;
	background-color: #fb9b41;
}
#profile .background img {
	width: 100%;
	height: 185px;
}
#profile .background .update{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 20px;
	right: 20px;
	background-image: url(/images/update.png);
	background-repeat: no-repeat;
	background-size: 24px 24px;
}
#profile .wrapperPortrait{
	position: relative;
	background-color: #fff;
	padding-bottom: 10px;
}
#profile .wrapperPortrait .messageWrapper{
	padding-top: 100px;
	text-align: center;
}
#profile .wrapperPortrait .messageWrapper h3{
	font-size: 16px;
}
#profile .wrapperPortrait .messageWrapper p{
	margin:10px auto;
	width: 100px;
	color: #9b9796;
	font-size: 12px;
}
#profile .wrapperPortrait .portrait{
	position: absolute;
	width: 150px;
	height: 150px;
	top: -70px;
	left: 50%;
	box-shadow: 0 0px 0px 6px #fff;
	margin-left: -75px;
	border-radius: 100%;
	background-color: #cbcbcb;
}
#profile .wrapperPortrait .message{
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	width: 95%;
	text-align: center;
	background-color: #fca442;
	font-size: 16px;
}
#profile .wrapperPortrait .message:link,
#profile .wrapperPortrait .message:hover,
#profile .wrapperPortrait .message:visited{
	text-decoration: none;
	color: #fff;
}
#profile .partOption{
	padding: 0 20px;
	background-color: #fff;
	margin: 10px 0;
}
#profile .partOption.aboutMe{
	padding-bottom: 20px;
} 
#profile .partOption h3{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}
#profile .partOption .underLine{
	height: 2px;
	width:100%;
	background-color: #f7f7f7;
}
#profile .partOption .desc{
	padding: 10px 10px;
	text-align: center;
	color: #9b9796;
}
#profile .partOption .ulist{
	margin-top: 20px;
	text-align: center;
}
#profile .partOption .ulist ul li{
	width: auto;
	margin-top: 6px;
}
#profile .partOption .ulist ul li span{
	display: inline-block;
	background-color: #2f92de;
	border-radius: 10px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: #fff;
}
#profile .partOption .urlWrapper li{
	padding: 5px;
}
#profile .partOption .urlWrapper li h4{
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#profile .partOption .urlWrapper li p{
	color: #8cc0ec;
}
#profile .partOption .companyWrapper{
	position: relative;
	padding-left: 100px;
	height: 100px;
}
#profile .partOption .companyWrapper img{
	position: absolute;
	left: -20px;
	width: 100px;
	height: 100px;
}
#profile .partOption .companyWrapper h4{
	padding-top: 30px;
	font-size: 14px;
}
#profile .partOption .companyWrapper p{
	font-size: 12px;
	color: #9b9796;
}
#profile .partOption .postWrapper{
	position: relative;
}
#profile .partOption .postWrapper .header{
	position: relative;
	padding-left: 100px;
	margin-top: 20px;
}
#profile .partOption .postWrapper .header p{
	color: #9b9796;
	font-size: 12px;
}
#profile .partOption .postWrapper .header img{
	position: absolute;
	left: 0;
	width: 80px;
	height: 80px;
}
#profile .partOption .postWrapper .content{
	padding: 20px 0;
	font-size: 12px;
}