body.access{
	width: 100%;
}
#access{
	position: relative;
	width: 100%;
}
#access .bannerWrapper{
	width: 100%;
	padding-bottom: 100px;
}
#access .banner{
	padding-bottom: 20px;
	overflow: auto;	
	margin: 0 auto;
	margin-bottom: 40px;
	z-index: 1;
}
#access .banner >ul>li{
	float: left;
}
#access .banner ul li .pic{
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: 100%;
}
#access .banner ul li .pic1{
	background-image: url(/images/403.png);
}
#access .banner ul li .pic2{
	background-image: url(/images/403.png);
}
#access .banner ul li .pic3{
	background-image: url(/images/403.png);
}
#access .banner ul li .pic4{
	background-image: url(/images/403.png);
}
#access .banner ul li>img{
	width: 100%;
	height: 200px;
}
#access .banner ul li .underLine{
	width: 20px;
	height: 5px;
	background-color: #000;
	margin: 0 auto;
	margin-top: 10px;
}
#access .banner >ul>li h2{
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
}
#access .banner>ul>li p{
	margin-top: 20px;
	font-size: 14px;
	padding: 0 10px;
	text-align: center;
	color: #b5b5b5;
}
#access .banner .dots {
	position: fixed;
	padding-left: 0;
	left: 0;
	right: 0;
	margin-bottom: 10px;
	bottom: 100px;
	width: 100%;
	text-align: center;
}
#access .banner .dots li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	width: 10px;
	height: 10px;
	background-color: #dcdcdc;
	line-height: 10px;
	margin: 0 4px;

	text-indent: -999em;
	*text-indent: 0;

	border-radius: 100%;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
#access .banner .dots li.active {
	background-color: #ffb553;
	opacity: 1;
}
#access .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
#access .footer a{
	display: inline-block;
	font-size: 14px;
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
}
#access .footer .registered{
	background-color: #f5ad55;
}
#access .footer .registered:link,#access .footer .registered:visited,#access .footer .registered:hover{
	color: #fff;
	text-decoration: none;
}
#access .footer .login{
	background-color: #faf7f9;
}
#access .footer .login:link,#access .footer .login:visited,#access .footer .login:hover{
	color: #8b8b8d;
	text-decoration: none;
}
@media screen and (max-width: 320px){
	
}