#roomshow .location{
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-radius: 0;
	padding-left: 30px;
	appearance:none;
	-webkit-appearance:none;
	background-image: url(/images/location.png);
	background-repeat: no-repeat;
	background-size: 12px 16px;
	background-position: 8px center;
	border: 0;
	border-bottom: 1px solid #f6f6f6;
}
#roomshow>h3{
	font-size: 14px;
	padding:10px 0;
	padding-left: 20px;
}
#roomshow input.date{
	width: 100%;
	height: 35px;
	border: none;
	padding-left: 30px;
	background-image: url(/images/date.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: 8px center;
	-webkit-appearance:none;
}
#roomshow .time{
	position: relative;
	background-image: url(/images/time.png);
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: 8px center;
	padding-left: 80px;
	float: left;
	height: 40px;
	width: 50%;
	border: 1px solid #ececec;
}
#roomshow .time input{
	width: 100%;
	height: 38px;
	border: none;
	-webkit-appearance:none;
}
#roomshow .time label{
	position: absolute;
	top: 10px;
	left: 30px;
}
#roomshow .hour{
	border: 1px solid #ececec;
	position: relative;
	float: left;
	padding-left: 60px;
	height: 40px;
	width: 50%;
	-webkit-appearance:none;
}
#roomshow .hour label{
	position: absolute;
	top: 10px;
	left: 5px;
}
#roomshow .hour select{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	border: none;
	-webkit-appearance:none;
}
#roomshow .option{
	width: 100%;
	background-color: #fff;
}

#roomshow .option .imgWrapper{
	position: relative;
	overflow: hidden;
	height: 150px;
	width: 100%;
}
#roomshow .option .imgWrapper img{
	width: 100%;
}
#roomshow .option .imgWrapper .detail{
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #fff;
}
#roomshow .option .imgWrapper .detail h3{
	font-size: 16px;
	font-weight: bolder;
}
#roomshow .option .imgWrapper .detail p{
	font-size: 12px;
	margin-top: 5px;
}
#roomshow .option .imgWrapper .detail p .floor{
	margin-right: 3px;
}
#roomshow .option .imgWrapper .detail p .peoples{
	margin-left: 5px;
	padding-left: 30px;
	background-image: url(/images/people.png);
	background-repeat: no-repeat;
	background-size: 15px 10px;
	background-position: 10px center;
	border-left: 1px solid #968e8c;
}
#roomshow .option .line{
	width: 100%;
	background-color: #fff;
	height: 100px;
	border-bottom: 1px solid #ececec;
	clear: both;
}
#roomshow .option .line .part{
	width: 14.28%;
	float: left;
	height: 100px;
}
#roomshow .option .line .part p{
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: bottom;
	padding-left: 2px;
}
#roomshow .option .line .part .piece{
	float: left;
	width: 50%;
	height: 50px;
}
#roomshow .option .line.second{
	margin-top: 10px;
}
#roomshow .lborder{
	border-left: 1px solid #ececec;
}
#roomshow .selected{
	background-color: #e7e7e7;
}
#roomshow .myselected{
	background-color: #F3A64A
}
#roomshow .option .footer{
	text-align: center;
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0;
}
#roomshow .option .footer div{
	padding: 0;
}
#roomshow .option .footer .mybook{
	color: #f3a64a;
	text-align: right;
}

#roomshow .option .footer .unavailable{
	color: #aca4a8;  
	text-align: left;    
}
#roomshow .option .footer .mybook span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #f3a64a;
	border: 1px solid #e7e7e7;
	margin-right: 4px;
}
#roomshow .option .footer .available span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	margin-right: 4px;
}
#roomshow .option .footer .unavailable span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #aca4a8;
	border: 1px solid #e7e7e7;
	margin-right: 4px;
}