#workspacelist{
	
}
#workspacelist .location{
	width: 100%;
	height: 35px;
	background-color: #fff;
	border-radius: 0;
	padding-left: 30px;
	appearance:none;
	-webkit-appearance:none;
	background-image: url(/images/location.png);
	background-repeat: no-repeat;
	background-size: 12px 16px;
	background-position: 8px center;
	border: 0;
	border-bottom: 1px solid #f6f6f6;
}
#workspacelist input{
	width: 100%;
	height: 35px;
	border: none;
	padding-left: 30px;
	background-image: url(/images/date.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: 8px center;
	-webkit-appearance:none;
}
#workspacelist .option{
	width: 100%;
	padding: 20px 20px;
}
#workspacelist .option .imgWrapper{
	overflow: hidden;
	height: 150px;
	width: 100%;
}
#workspacelist .option .imgWrapper img{
	width: 100%;
}
#workspacelist .option .content{
	background-color: #fff;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}
#workspacelist .option .content .name{
	font-size: 16px;
	font-weight: normal;
}
#workspacelist .option .content .seatsLeft{
	font-size: 16px;
	font-weight: normal;
	border-radius: 100%;
	width:50px;
	height: 50px;
	line-height: 50px;
	color: white;
	margin:10px auto;
	background-color: #4A4A4A;
}
#workspacelist .option .content .address{
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}
#workspacelist .option .footer{
	display: inline-block;
	background-color: #f3a64b;
	color: #fff;
	height: 50px;
	width: 100%;
	text-align: center;
	line-height: 50px;
}
#workspacelist .option .footer:link,
#workspacelist .option .footer:hover,
#workspacelist .option .footer:visited{
	color: #fff;
	text-decoration: none;
}